.work-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100
}

.color-body {
    background-color: rgb(245, 245, 245);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 160px;
}

.nav-title {
    font-size: 32px;
    font-weight: bold;
    margin: 80px 0px;
}

.btn-primary {
    /* box-sizing: border-box; */
    border: 1px solid rgb(0, 106, 80);
    background-color: white;
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 18px 35px;
    /* text-align: left; */
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-around;
    margin: 0px 160px;
    padding-top: 0px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;

}

.banner-content {

    margin: 80px 100px;
    align-items: center;
}

.header-img {
    margin: 80px 100px;
}

.banner-content-text {
    font-size: 56px;
    font-weight: bold;
    margin: 0px;
}

.banner-content-text1 {
    font-size: 24px;
    font-weight: medium;
    color: rgba(14, 14, 14, 0.5);
    margin: 12px;
    margin-left: 1px;

}

.banner-btn {
    padding: 17px 34px 17px 34px;
    background-color: rgb(0, 106, 80);
    color: white;
    /* width: 270px;
    height: 56px; */
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 24px;
    border: none;

}

/* vision section styles */
.vision {
    margin: 0px 160px;
    padding: 80px 0px;
}

.vision-cards {
    display: flex;
    justify-content: space-around;
    gap: 24px;

}

.card1 {
    color: black;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 35px;
    border-radius: 16px;
}

.card2 {
    color: black;
    background-color: rgb(198, 228, 214);
    padding: 35px;
    border-radius: 16px;

}

.card3 {
    color: black;
    background-color: rgb(247, 235, 207);
    padding: 35px;
    border-radius: 16px;
}

.vision-header {
    font-size: 40px;
    font-weight: bold;
    margin: 3px;
    margin-bottom: 30px;
}

.vision-para {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}

.vision-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.vision-img {
    margin-bottom: 35px;
}

.vision-buttons1 {
    font-size: 16px;
    color: white;
    background-color: rgb(84, 144, 245);
    font-weight: 500;
    /* line-height: 19px; */
    letter-spacing: 0%;
    /* text-align: left; */
    padding: 11px 20px 11px 20px;
    /* margin-bottom: 100px; */
    border-radius: 8px;
    border: none;
}

.vision-buttons2 {
    font-size: 16px;
    color: white;
    background-color: rgb(9, 161, 92);
    font-weight: 500;
    /* line-height: 19px; */
    letter-spacing: 0%;
    /* text-align: left; */
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
}

.vision-buttons3 {
    font-size: 16px;
    color: white;
    background-color: rgb(255, 194, 57);
    font-weight: 500;
    /* line-height: 19px; */
    letter-spacing: 0%;
    /* text-align: left; */
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
}

.vision-description {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Dr.Yunus speech Section */

.speech {
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    margin: 0px 160px;

    padding: 0px;
}


.speech-para {

    color: rgba(14, 14, 14, 0.8);

    font-size: 16px;

    font-weight: 400;


}



.speech-author {

    font-size: 20px;

    font-weight: 700;
    margin-bottom: 0px;
    color: rgba(14, 14, 14, 0.8);


}



.speech-last-para {

    font-size: 16px;

    font-weight: 400;

    color: rgba(14, 14, 14, 0.6);
    margin-top: 0px;

}

.speech-div {

    padding: 48px 24px;
    background-image: url(../images/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 36px;


}

.recent-news {
    margin: 0px 160px;
    padding: 80px 0px;

}

.recent-news-headline {
    font-size: 40px;
    font-weight: bold;
    margin: 3px;
    margin-bottom: 30px;
}

.recent-news-para {

    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}

.news-cards1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    margin: 0px 160px;
    padding: 48px 48px;


}


.satelite1 {
    border-radius: 24px;
    width: 408px;
    height: 306px;
    margin: 22px 32px;
    
}

.news-info1 {
    /* margin: 80px 100px; */
    align-items: center;
    
}
.news-info1-header{
    font-size: 32px;
font-weight: 700;
}

.paraflex {
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);

}

.news-info1-para2 {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.news-info1-btn{
    padding: 13px 26px 13px 26px;
    color: white;
    background-color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 7px;

}




.news-cards2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    margin: 24px 160px;
    padding: 48px 48px;
   
}

.news-info2-header{
    font-size: 32px;
font-weight: 700;
}

.satelite2 {
    border-radius: 24px;
    width: 408px;
    height: 306px;
    margin: 0px 32px;
    /* margin: 80px 100px; */
}

.news-info2 {
    /* margin: 80px 100px; */
    align-items: center;
    
}

.paraflex {
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);

}

.news-info2-para2 {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.news-info2-btn{
    padding: 13px 26px 13px 26px;
    color: white;
    background-color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 7px;

}
.news-cards-sec{
    /* margin: 0px 160px; */
    margin-top: -160px;
    padding: 80px 0px;
}
